<ion-list class="ion-padding">
  <!-- <ion-list-header>
    <ion-label>Toma tu nota</ion-label>
  </ion-list-header>

  <ion-item>
    <ion-label position="floating">Sesión</ion-label>
    <ion-input type="text" [(ngModel)]="sesion"></ion-input>
  </ion-item> -->

  <!-- <ion-item>
    <ion-label>Awesome Label</ion-label>
    <ion-input type="date" placeholder="Fecha "></ion-input>
  </ion-item> -->

  <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
    <ion-list-header>
      <!-- <ion-label>Formulario valido {{ formulario.valid }}</ion-label> -->
      <ion-label>Registra tu sesion</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label position="floating">Nombre:</ion-label>
      <ion-input
        type="text"
        name="session"
        [(ngModel)]="userInfo.nombre"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Celular:</ion-label>
      <ion-input
        type="tel"
        name="session"
        [(ngModel)]="userInfo.celular"
        required
      ></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">Notas</ion-label>
      <ion-input
        type="text"
        name="notes"
        [(ngModel)]="userInfo.notas"
      ></ion-input>
    </ion-item> -->

    <ion-button [disabled]="formulario.invalid" type="submit" expand="block">
      Agregar
    </ion-button>
  </form>
</ion-list>
