<ion-header [translucent]="true">
  <app-header title="Registro"></app-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <!-- <ion-item *ngFor="let user of usuarios | async"> -->
    <ion-card *ngFor="let user of usuarios">
      <ion-card-content>
        <ion-item class="item-background-color">
          <ion-label text-wrap>
            <h3>{{user.session}}</h3>
            <p>{{user.fecha}}</p>
            <p>{{user.notas}}</p>
          </ion-label>
          <!-- <ion-label slot="end" class="ion-text-end text-small"
            >{{user.phone}}</ion-label
          > -->
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-button (click)="presentPopover()" expand="block">
    Agregar Registro
  </ion-button>
</ion-content>
