<ion-header>
  <app-header title="Directorio"></app-header>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- <ion-button (click)="loadContacts()" expand="full">
    Agregar Contactos
  </ion-button> -->
  <ion-list>
    <!-- <ion-item *ngFor="let user of usuarios | async"> -->
    <ion-item *ngFor="let user of usuarios" class="item-background-color">
      <ion-col size="4">
        <img
          class="circle-pic"
          [src]="user?.img!= null ? user.img : myImgUrl"
        />
      </ion-col>
      <ion-col size="6">
        <ion-label text-wrap>
          <h3>{{user.nombre}}</h3>
          <p>{{user.celular}}</p>
        </ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-label>
          <ion-icon slot="icon-only" name="call"></ion-icon>
        </ion-label>
      </ion-col>
      <!-- <ion-label slot="end" class="ion-text-end text-small"
            >{{user.phone}}</ion-label
          > -->
    </ion-item>
  </ion-list>

  <ion-button (click)="presentPopover()" expand="block">
    Agregar Registro
  </ion-button>

  <ion-list>
    <ion-item-sliding *ngFor="let c of myContacts">
      <ion-item>
        <ion-label>
          {{c.name.givenName}}
          <p>{{c.phoneNumbers[0].value}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="call(c)">
          <ion-icon slot="icon-only" name="call"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
